{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% load static %}
{% block js %}
<script>
  let previews = document.getElementsByClassName('preview')
  Array.from(previews).forEach((ele)=>{
    ele.innerHTML = ele.innerText;
  })
</script>
{% endblock js %}
{% block body %}
<div class="">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/contact.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style=" background: black; border-radius: 60px;">
          <h5>Welcome To The myblogs</h5>
          <p>Here Available Your Type Of Blogs You Can Visit Now</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/myblogs/static/images/contact3.jpg " style="height: 337px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style=" background: black; border-radius: 60px;">
          <h5>This Service Is Very Useful</h5>
          <p>Service is available for You (24x7)</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/myblogs/static/images/contact1.jpg" style="height: 337px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style=" background: black; border-radius: 60px;">
          <h5>Make it</h5>
          <p>Always Ready to Contact With You</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container">
  <div class="row mb-2 my-4" style="background-color: lavender;">
    {% for post in top_posts %}
    <div class="col-md-6">
      <div class="row indexc g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">{{post.author}} ({{post.created_on}} created_on)</strong>
          <h3 class="mb-0 com-inp">{{post.title}}</h3>
          <div class="mb-1 text-muted"><span class="badge text-bg-light" style="font-size: xx-small">{{post.timeStamp}}</span></div>
          <p class="mb-auto"><div class="preview com-inp">{{post.body|truncatechars:300}}</div></p>
          <div class="mb-2">
            Categories: 
            {% for category in post.categories.all %}
              <button class="btn btn-outline-primary btn-sm" onclick="filterByCategory('{{ category.name }}')">{{ category.name }}</button>
            {% endfor %}
          </div>
          <div>
            Tags: 
            {% for tag in post.tags.all %}
              <button class="btn btn-outline-secondary btn-sm" onclick="filterByTag('{{ tag.name }}')">{{ tag.name }}</button>
            {% endfor %}
          </div>
          <div>
            <a href="{% url 'blog-detail' pk=post.pk %}" role="button" class="btn btn-primary mt-2">Continue reading</a>
          </div> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  function filterByCategory(category) {
    let posts = document.getElementsByClassName("indexc");
    for (let post of posts) {
      if (post.innerText.includes(category)) {
        post.style.display = "block";
      } else {
        post.style.display = "none";
      }
    }
  }

  function filterByTag(tag) {
    let posts = document.getElementsByClassName("indexc");
    for (let post of posts) {
      if (post.innerText.includes(tag)) {
        post.style.display = "block";
      } else {
        post.style.display = "none";
      }
    }
  }
</script>


{% endblock body %}
